@media (min-width:664px) {
    .technology{
        background-image: url(technology/background-technology-tablet.jpg);
    }
}

@media (min-width:888px) {
    /* Navigation */
    .home{
        &__area{
            padding: 2rem 0 2rem 2rem;
        }
        &__area{
            align-items: center;

        }
        &__hamburger{
            display: none;
        }
        &__nav{
            display: block;
            
        }
        &__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            backdrop-filter: blur(100px);
            padding: 2rem 0;
        }
        &__item{
            list-style:none;
            padding-left: 5rem;
            display: flex;
            gap:0.5rem;
        }
        &__link{
            text-decoration: none;
            padding-right:  2rem;
            color:#ffffff98;
            font-weight: 100;
            text-transform: uppercase;
        }
        &__link:hover{
            color:#fff;
        }
        &__serial{
            color:#fff;
            font-weight: 600;
        }
    }

        /* Technology */

    .technology{

        &__area{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 2rem;
        }
        &__area{
            flex: 1;
        }
        &__top{
            img{
                display: block;
                // border-radius: 0;
                width:400px;
            }
        }
        &__content{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;
        }
        &__title{
            font-size: 5rem;
        }
        &__text{
            width:70%;
        }
        &__list{
            flex-direction: column;
        }

    }
}