/* Variables */
$bg-meroon-G:linear-gradient(to right, rgb(254,134,110), rgb(255,81,91));
$white:#FFFFFF;
$meroon:#ff505c;
$H-blue:#253E53;
$P-gray:#8B8E92;
$H-size:2rem;
$P-size:1rem;
$list-size:1.4rem;

/*mixin*/
@mixin boxSizing($mt, $around){
    margin-top: $mt;
    padding: $around;
}

/* Inheritance */
.mybtn{
    margin:0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    background:transparent;
}


@media (min-width:528px) {
    .footer__lists{
        display: flex;
        align-items: start;
        justify-content: space-evenly;
    }
}

@media (min-width:820px) {
    .header{
        &__left nav{
            display: block;
        }

        &__left{
            display: flex;
            align-items: center;
            gap:4rem;
        }


        &__menubar_list{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &__item{
            display: flex;
            align-items: center;
            list-style: none;

            & a{
                text-decoration: none;
                color:$white;
            }
            & i{
                color:$white;
                cursor: pointer;
            }
            
        }


        .header__right{
            display: flex;
            align-items: center;
            gap:2rem;
            margin-right: 3rem;
            
            & img{
                display: none;
            }

            & button{
                display: block;
            }

           
        }
        &__login{
            border:none;
            background: transparent;
            color:$white;
            font-weight: 600;
            cursor: pointer;
        }
        &__signUp{
            margin:0.5rem;
            padding: 0.5rem 1rem;
            border:none;
            border-radius: 20px;
            font-weight: 600;
            cursor: pointer;
            background:$white;
            color:$meroon;
        }
        
    }


    /* About Section */

    .about{
        
        &__area{
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            
        }

        &__left{
            width:50%
        }
        &__right{
            width:50%;
        }

        &__mobile_img{
            display: none;
        }
        &__desktop_img{
            display: block;
        }
    }

    .app{

        &__area{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &__bg{
            padding: 2rem;
            background-image: url(images/bg-pattern-circles.svg);
            background-repeat: no-repeat;
            background-size: 75%;
            background-position:-215px -25rem;     
        }
        &__content p{
            padding: 0rem 5rem;
        }
        
    }

    .feature{

        &__area{
            display: flex;
            align-items: center;
            justify-content:space-between;

           
        }
        &__left{
            width:50%;
            margin-left: -20rem;
        }
        &__left img{
            width: 150%;
        }
        &__right{
            width:50%;
            padding-right: 3rem;
        }
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-around;


        &__logo{
           flex:1;
        }
        &__lists{
            flex:3;
        }
    }
}