/* Color */
$bg-meroon:#535da1;
$green:#14B789;
$black:#212529;
$gray:#707174;
$gray-deep:#616368;
$white:#fff;

/* Font Size */
$size1:3.5rem;
$size2:3rem;
$size3:2.5rem;
$size4:2rem;
$size5:0.8rem;
$para-size:1.3rem;

