@import "_variables";
@import "_extend";


*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
.container{
    padding:1rem 2rem;
}

.nav__area{
    background:$bg-meroon;
}
/* Header */
.header{
    width: 100%;
    position: sticky;
    top:0rem;
    z-index: 1000;
    background:$bg-meroon;

    &__area{
        
        box-shadow: 1px 0px 100px 1px gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background:$white;
        padding: 1rem;
        border-radius: 10px;
    }
    &__left{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        i{
            font-size:$size4;
            cursor: pointer;
            
        }
        i:hover{
            color: $green;
        }
    }
    &__logo{
        color: $black;
        font-size:1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
        cursor: pointer;
        text-decoration: none;
        color:$black;
        font-weight:700;
    }
    &__nevigation{
        display: none;
    }
    
    &__right{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        i{
           background:$green;
           padding:0.5rem;
           border-radius: 50%;
           color: $white;
        }
    }
    &__number{
        border:2px solid $green;
        padding: 0.5rem 1rem;
        @extend .btn-size;

    }
    &__number:hover{
        background:$green;
        color:$white;
    }
}

/* Hero */
.hero{
    background:$bg-meroon;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:0 100%;

    &__top{
        
    }
    &__hello{
        display: flex;
        align-items: center;
        gap: 2rem;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        h2{
            @extend .btn-size;
            cursor: auto;
            font-size: $size4;
        }
    }
    &__title{
        display: inline-block;
        @extend .btn-size;
        cursor: auto;
        font-size: $size4;
        margin-top: 1rem;
        color: $green;
    }
    &__btn{
        display:block;
        @extend .btn-size;
        background:$bg-meroon;
        color:$white;
        border: 1px solid $white;
        font-size: $size4;
        margin-top: 1rem;
        cursor: pointer;
    }
    &__btn:hover{
        background: $green;
        color: $white;
        border:none;
    }

    &__bottom{
        margin-top: 5rem;
        padding-bottom: 5rem;
    }
    &__circle{
        width:300px;
        height:300px;
        background:$white;
        border-radius: 50%;
        position: relative;
        margin: auto;
    }
    &__img{
        width:400px;
        position: absolute;
        bottom: -50px;
        right: -70px;
    }
}

.about{

    &__area{
        margin-top: 5rem;
    }
    &__top{

        img{
            width:400px;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }
    }
    &__bottom{

    }
    &__thumb{
        width: 400px;
        margin: 1rem auto;
        padding: 2rem;
        background: $green;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        h2{
            font-size: $size4;
            color: $white;
            
        }

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        
    }
    &__details{
        width: 400px;
        margin: 1rem auto;
        padding: 1rem 0;

        p{
            padding-top: 1rem;
            line-height: 1.5rem;
            color:$gray;

            a{
                color: $green;
                text-decoration: none;
            }
        }
    }
    
}

.feature{

    &__table{
        
        table{
            width: 400px;
            margin: 1rem auto;
            border: 1px solid $gray;
            border-collapse: collapse;
        }

        table,tr,th,td{
            padding: 1rem;
        }
        thead th{
            border-bottom: 1px solid $gray;
            color: $black;
            font-size:$size4;
            font-weight: 600;
            text-align: start;
        }
        tbody tr:nth-of-type(odd){
            background:#ececec;
        }
        tbody th{
            border-right: 1px solid $gray;
            text-align: start;
            color: $green;
        }
        td{
            color: $gray;
        }

        
    }

    &__data{
        width: 400px;
        margin: 2rem auto;
        
    }
    &__list {
        
        .feature__item:nth-of-type(1){
            
            border-right: 1px solid gray;
        }
    }
    &__list:nth-of-type(1){
        width: 100%;
       display: flex;
       align-items: center;
       border-bottom: 1px solid gray;
        justify-content:center;
        
    }
    &__list:nth-of-type(2){
        width: 100%;
        display: flex;
       align-items: center;
       justify-content: center;
    }
    &__item{
        padding:3rem 2rem;
    }

}