/* Color */
/* Font Size */
.btn-size, .service__btn, .hero__btn, .hero__title, .hero__hello h2, .header__number {
  padding: 0.5rem 1rem;
  background: #fff;
  color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}

.container {
  padding: 1rem 2rem;
}

.nav__area {
  background: #535da1;
}

/* Header */
.header {
  width: 100%;
  position: sticky;
  top: 0rem;
  z-index: 1000;
  background: #535da1;
}
.header__area {
  box-shadow: 1px 0px 100px 1px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header__left i {
  font-size: 2rem;
  cursor: pointer;
}
.header__left i:hover {
  color: #14B789;
}
.header__logo {
  color: #212529;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #212529;
  font-weight: 700;
}
.header__nevigation {
  display: none;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.header__right i {
  background: #14B789;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
}
.header__number {
  border: 2px solid #14B789;
  padding: 0.5rem 1rem;
}
.header__number:hover {
  background: #14B789;
  color: #fff;
}

/* Hero */
.hero {
  background: #535da1;
  background-image: url(images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%;
}
.hero__hello {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero__hello img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.hero__hello h2 {
  cursor: auto;
  font-size: 2rem;
}
.hero__title {
  display: inline-block;
  cursor: auto;
  font-size: 2rem;
  margin-top: 1rem;
  color: #14B789;
}
.hero__btn {
  display: block;
  background: #535da1;
  color: #fff;
  border: 1px solid #fff;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}
.hero__btn:hover {
  background: #14B789;
  color: #fff;
  border: none;
}
.hero__bottom {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.hero__circle {
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.hero__img {
  width: 400px;
  position: absolute;
  bottom: -50px;
  right: -70px;
}

/* About */
.about__area {
  margin-top: 5rem;
}
.about__top img {
  width: 400px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.about__thumb {
  width: 400px;
  margin: 1rem auto;
  padding: 2rem;
  background: #14B789;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.about__thumb h2 {
  font-size: 2rem;
  color: #fff;
}
.about__thumb img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.about__details {
  width: 400px;
  margin: 1rem auto;
  padding: 1rem 0;
}
.about__details p {
  padding-top: 1rem;
  line-height: 1.5rem;
  color: #707174;
}
.about__details p a {
  color: #14B789;
  text-decoration: none;
}

/* Feature Area */
.feature {
  background: #f5f5f5;
  padding: 3rem 0;
  margin: 2rem 0;
}
.feature__table table {
  width: 400px;
  margin: 1rem auto;
  border: 1px solid #707174;
  border-collapse: collapse;
}
.feature__table table, .feature__table tr, .feature__table th, .feature__table td {
  padding: 1rem;
}
.feature__table thead th {
  border-bottom: 1px solid #707174;
  color: #212529;
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
}
.feature__table tbody tr:nth-of-type(odd) {
  background: #ececec;
}
.feature__table tbody th {
  border-right: 1px solid #707174;
  text-align: start;
  color: #14B789;
}
.feature__table td {
  color: #707174;
}
.feature__data {
  width: 400px;
  margin: 2rem auto;
}
.feature__list .feature__item:nth-of-type(1) {
  border-right: 1px solid gray;
}
.feature__list:nth-of-type(1) {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  justify-content: center;
}
.feature__list:nth-of-type(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__item {
  padding: 3rem 2rem;
}

/* Clients Section */
.client__area {
  padding: 3rem;
  text-align: center;
}
.client__title {
  font-size: 3rem;
  color: #212529;
}
.client__img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}
.client__img img {
  width: 100px;
  transition: all 0.5s;
}
.client__img img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Service */
.service {
  background: #f5f5f5;
}
.service__area {
  width: 80%;
  margin: 5rem auto;
}
.service__head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: #14B789;
  padding: 2rem 1rem;
  border-radius: 10px;
}
.service__head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.service__head h2 {
  font-size: 2.5rem;
  color: #fff;
}
.service__card {
  width: 100%;
  height: 500px;
  margin: 1rem auto;
  background: #fff;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
  border: 2px solid #fff;
}
.service__card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #707174;
  padding-bottom: 2rem;
}
.service__card_head h3 {
  background: #535da1;
  padding: 0.3rem 0.7rem;
  border-radius: 30px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.service__card p {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #707174;
}
.service__card:hover {
  border: 2px solid #14B789;
}
.service__card:hover .service__icon {
  background: #14B789;
  border: 1px solid #14B789;
}
.service__card:hover .service__icon i {
  color: #fff;
}
.service__card:hover .service__card_head h3 {
  background: #14B789;
}
.service__card:hover .service__circle {
  background: #535da1;
}
.service__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #14B789;
  position: absolute;
  top: -4px;
  right: -6px;
  transition: all 0.5s;
}
.service__btn {
  background: transparent;
  border: 1px solid #707174;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #707174;
  font-weight: 600;
  display: block;
  margin: 2rem 0;
  transition: all 0.2s;
}
.service__btn:hover {
  background: #14B789;
  color: #fff;
  border: 1px solid #14B789;
}
.service__icon {
  display: inline-block;
  border: 1px solid #707174;
  border-radius: 10px;
  position: absolute;
  bottom: -50px;
  right: -40px;
  transform: rotate(-30deg);
  transition: all 0.5s;
}
.service__icon i {
  padding: 45px 57px 100px 57px;
  font-size: 5rem;
  color: #212529;
}

/* Project Section */
.project__area {
  width: 90%;
  margin: 5rem auto;
  padding: 5rem 1rem;
}
.project__head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  background: #14B789;
  padding: 2rem 0;
  border-radius: 10px;
}
.project__head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.project__head h2 {
  color: #fff;
  font-size: 2.5rem;
}
.project__card {
  border: 2px solid #f5f5f5;
  background: #f5f5f5;
  padding: 2rem;
  width: 300px;
  height: 350px;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.project__card p {
  padding: 0 2rem;
  color: #14B789;
}
.project__card h2 {
  padding: 0 2rem;
  color: #212529;
}
.project__card img {
  width: 200px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50px;
  transform: rotate(10deg) translateY(100px);
  transition: all 0.5s ease;
}
.project__card:hover {
  border: 2px solid #14B789;
}
.project__card:hover img {
  transform: rotate(0) translateY(0);
}/*# sourceMappingURL=style.css.map */