@media (min-width:599px) {
    .container{
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;

        &__left{
            &_img{
                display: none;
            }

            &_img2{
                display: block;
            }
        }
    }
}